 /* Dropdown Button */
 .dropbtn,.footbtn {
  background-color: rgb(110, 105, 98);
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
  display: inline;
  width: 140px;  
  margin-left: 1vw;

}

.footbtn {
  background-color: #3030A5;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
  display: inline-block;
  width: 140px;
  margin-right: 10vw;
  float: right;
}

  /* Dropdown button on hover & focus */
  .dropbtn:hover, .dropbtn:focus {
    background-color: #2980B9;
  }

  /* Dropdown button on hover & focus */
  .footbtn:hover, .footbtn:focus {
    background-color: #2980B9;
  }
  
  /* The container <div> - needed to position the dropdown content */
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  /* Dropdown Content (Hidden by Default) */
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }

  .radios{
    display: none;
    margin-left: 3vw;
  }
  
  /* Links inside the dropdown */
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  /* Change color of dropdown links on hover */
  .dropdown-content a:hover {background-color: #ddd}
  
  /* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
  .show {display:block;} 
  
.sides{
  width: 100vw;
  background: #ffd090;
  /* position : absolute;
  width: 25%;
  background: #ffd090;*/
  height: 100vh; 
}

.center{
  width: 80%;
  max-width: 960px;
  margin-left: auto;
  margin-right: auto;
  padding: 1vw;
  height: 100vh; 
  background: #fffff0;
}

.row{
  height: 100%;
}

label {
  display: inline-block;
  width: 10px;
  position: relative;
  top: -15px;  
}

input[type=radio] {
  display: inline-block;
  width: 30px;
  margin-right: 4vw;
  padding-top: 15px;

}
input[type=text]{
  display: none;
  width: 140px;
  margin-left: 2vw;
  position: relative;
  top: -10px;  
}

.headerbox{
  margin-right: 30vw;
  float: right;
}
